<div class="wrapper-form">
  <div class="auth-form">
    <h2>Реєстрація</h2>
    <div class="name-wrap"><label for="name">Пошта:</label><input id="name" type="text"></div>
    <div class="name-wrap"><label for="password">Пароль:</label><input id="password" type="text"></div>
    <div class="button-block">
      <div class="button-wrap">
        <button (click)="back()">Назад</button>
        <button>Вход</button>
      </div>
      <div class="with-google">
        <p>or</p>
        <button class="google">Реєстрація</button>
        <button class="google">Google Вхід</button>
      </div>
    </div>
  </div>
</div>
